.checkbox {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox:checked + .toggle {
  background-color: #ffcb05;
  box-shadow: none;
}

.checkbox:checked + .toggle {
  transform: rotateY(180deg);
}

.checkbox:checked + .toggle ul {
  display: none;
}

.toggle {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 25px;
  box-shadow: -4px -3.5px inset #ddd;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  margin: auto;
  transition: all 300ms ease-in;
  transform-style: preserve-3d;
}

.toggle li {
  list-style: none;
  border-radius: 25px;
  background-color: #bbb;
  position: absolute;
}

.toggle li:first-child {
  width: 10px;
  height: 10px;
  left: 10px;
  top: 20px;
}

.toggle li:nth-child(2) {
  width: 5px;
  height: 5px;
  left: 25px;
  top: 5px;
}

.toggle li:nth-child(3) {
  width: 5px;
  height: 5px;
  left: 30px;
  top: 30px;
}

.toggle li:nth-child(4) {
  width: 7.5px;
  height: 7.5px;
  left: 35px;
  top: 15px;
}

.toggle li:nth-child(5) {
  width: 2.5px;
  height: 2.5px;
  left: 10px;
  top: 10px;
}

.toggle li:nth-child(6) {
  width: 2.5px;
  height: 2.5px;
  left: 45px;
  top: 30px;
}

.toggle li:nth-child(7) {
  width: 2.5px;
  height: 2.5px;
  left: 5;
  top: 40px;
}
