a:active, a:focus, a:hover, a:visited, a .btn, a .btn:active, a .btn:focus, a .btn:hover, a .btn:visited, .btn, .app .links a, .project .text .btn, .content a .card {
  text-decoration: none;
}

a:active, a:focus, a:hover, a:visited {
  color: #ffffff;
}

.space-1, .space-2, .space-3, .app, .app .social, .app .links, .line,
hr {
  display: block;
  width: 100%;
}

.mobile .line::after,
.mobile .line::before, .mobile .volume-button::after, .mobile .volume-button::before {
  content: "";
  position: absolute;
  left: 0;
}

li a, p a {
  -o-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -webkit-box-shadow: inset 0 -0.25rem 0 #b4e7f8;
  -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  border-bottom: 0.125rem solid #b4e7f8;
  box-shadow: inset 0 -0.25rem 0 #b4e7f8;
  color: #000000 !important;
  overflow-wrap: break-word;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  word-break: break-word;
  word-wrap: break-word;
}

li a:active, p a:active, li a:focus, p a:focus, li a:hover, p a:hover, li a:visited, p a:visited {
  background-color: #b4e7f8;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", Roboto, sans-serif;
}

h1,
h2,
h5 {
  font-weight: 600;
}

h4 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

a {
  font-size: 0.875rem;
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
  text-decoration: none;
}

li {
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
}

.marg-bot-0 {
  margin-bottom: 0 !important;
}

.marg-bot-05 {
  margin-bottom: 0.5rem !important;
}

.marg-bot-1 {
  margin-bottom: 1rem !important;
}

.marg-bot-2 {
  margin-bottom: 2rem !important;
}

.marg-top-0 {
  margin-top: 0 !important;
}

.marg-top-05 {
  margin-top: 0.5rem !important;
}

.marg-top-1 {
  margin-top: 1rem !important;
}

.marg-top-2 {
  margin-top: 2rem !important;
}

.space-1 {
  height: 1rem;
}

.space-2 {
  height: 2rem;
}

.space-3 {
  height: 3rem;
}

.btn {
  -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.btn:hover {
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.btn.btn-info {
  background: #e18e7f;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  color: #ffffff !important;
}

.btn.btn-info:active, .btn.btn-info:focus, .btn.btn-info:hover {
  background: #b55f4b;
}

.buttons {
  margin-bottom: 0.5rem;
  width: 100%;
}

.buttons .btn {
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  z-index: 10;
}

.profile-picture-wrapper {
  margin-right: calc(1rem + 2.5%);
}

.profile-picture {
  border-radius: 50%;
  height: auto;
  margin-bottom: 1.5rem;
  width: 10rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-container .background-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-flex: 0;
  -ms-flex: none;
  display: inline-block;
  flex: none;
  height: auto;
  max-height: 3.25rem;
  width: 3.25rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.flex-container .flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#hero {
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}

#hero img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}

.app {
  font-family: "Open Sans", Roboto, sans-serif;
  color: #383838;
}

.app #menu {
  width: 100%;
}

.app .content {
  min-height: calc(100vh - 3.25rem);
  padding-top: 1rem;
}

.app .logo-wrapper {
  text-decoration: none !important;
}

.app .social {
  bottom: 0;
  margin-bottom: 1rem;
  position: absolute;
}

.app .social a {
  text-decoration: none !important;
}

.app .social a img {
  display: inline-block;
  height: 1rem;
  margin-right: 0.4rem;
  opacity: 0.25;
}

.app .social a:hover img {
  opacity: 1;
}

.app .links a {
  clear: left;
  color: #848484 !important;
  display: block;
  margin-bottom: 0.5rem;
}

.app .links a:active, .app .links a:focus, .app .links a:hover, .app .links a.active {
  color: #000000 !important;
}

footer {
  margin-left: 12rem;
  margin-top: 1rem;
  padding-bottom: 1.2rem;
  padding-top: 1rem;
  position: relative;
  z-index: 1;
}

footer p {
  color: #a0a0a0;
  font-size: 0.75rem;
  line-height: 1;
  margin-bottom: 0;
}

footer p.right {
  float: right;
}

footer #scroll-to-top {
  cursor: pointer;
}

footer #scroll-to-top:hover {
  text-decoration: underline;
}

.form-control {
  border: 0.125rem solid rgba(0, 0, 0, 0.1);
  border-width: 0.125rem;
  font-family: "Open Sans", Roboto, sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.form-control:active, .form-control:focus {
  border: 0.125rem solid #e18e7f;
}

.form-control:hover {
  border: 0.125rem solid rgba(0, 0, 0, 0.2);
}

textarea.form-control {
  margin-bottom: 0;
}

.line,
hr {
  border-top: 0.125rem solid rgba(26, 26, 26, 0.1);
  height: 0;
  margin: 1rem 0;
}

#extracurriculars {
  padding-bottom: 1.5rem;
}

.browser {
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

.browser .top {
  background: #dbdbe0;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem 0.2rem 0 0;
  height: 2.25rem;
  padding: 0.5rem;
  text-align: right;
}

.browser .top .circle {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  height: 1.25rem;
  margin-left: 0.5rem;
  width: 1.25rem;
}

.browser .body {
  background: #ffffff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.175);
  border-radius: 0 0 0.2rem 0.2rem;
  border-top: 0 solid transparent;
  padding: 1rem;
}

.browser .body h2 {
  color: #383838;
}

.browser-screenshot {
  background: #dbdbe0;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  padding: 0% 1.25% 2.5%;
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

.browser-screenshot .top {
  height: 2rem;
  padding: 0.5rem 0;
  text-align: right;
}

.browser-screenshot .top .circle {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  margin-left: 0.25rem;
  width: 1rem;
}

.system-screenshot {
  background: #ffffff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  padding: 0% 1.25% 2.5%;
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 23rem;
}

.system-screenshot .top {
  height: 2rem;
  padding: 0.5rem 0;
  text-align: right;
}

.system-screenshot .top .circle {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  margin-left: 0.25rem;
  width: 1rem;
}

.mobile-screenshot {
  max-height: 30rem;
  text-align: center !important;
  margin: 0 auto;
}

.four {
  text-align: center;
  display: block;
}

.four-img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.project {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  color: #383838;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 0 2.5%;
}

.project:nth-child(odd) {
  -webkit-box-shadow: 0 0.2rem 0.4rem #90b8c6;
  box-shadow: 0 0.2rem 0.4rem #90b8c6;
  border-radius: 0.2rem;
}

.project:nth-child(even) {
  -webkit-box-shadow: 0 0.2rem 0.4rem #d4ba9f;
  box-shadow: 0 0.2rem 0.4rem #d4ba9f;
  border-radius: 0.2rem;
}

.project .screenshot-wrapper {
  padding: 5% 0 0 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.project:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.project:nth-child(even) .screenshot-wrapper {
  padding: 5% 1rem 0 0;
}

.project .text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem 0;
}

.project .text .btn {
  -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #e18e7f;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  color: #ffffff !important;
}

.project .text .btn:hover {
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.project .text .btn:active, .project .text .btn:focus, .project .text .btn:hover {
  background: #b55f4b;
}

.project .browser-screenshot,
.project .system-screenshot {
  border-bottom: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.has-bg {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.mobile {
  position: relative;
  z-index: 1;
  height: 43.375rem;
  width: 21.375rem;
}

.mobile * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

.mobile .side {
  background: #383838;
  border-radius: 3.375rem;
  height: 43.375rem;
  padding: 0.9375rem 1.375rem;
  width: 21.375rem;
  z-index: 1;
}

.mobile .screen {
  background: #383838;
  background-position: center center;
  background-size: cover;
  border-radius: 2.0625rem;
  position: relative;
  height: 40.75rem;
  width: 18.75rem;
  margin-left: -0.0625rem;
  margin-top: 0.375rem;
  z-index: 198;
  overflow: hidden;
}

.mobile .line::after,
.mobile .line::before {
  border: solid rgba(68, 68, 68, 0.25);
  border-width: 0 0.375rem;
  height: 0.3125rem;
  width: 100%;
  z-index: 9;
  top: 4.25rem;
}

.mobile .header {
  background: #383838;
  border-bottom-left-radius: 0.8125rem;
  border-bottom-right-radius: 0.8125rem;
  height: 1.5rem;
  left: 50%;
  margin-left: -5.125rem;
  position: absolute;
  top: 0.9375rem;
  width: 10.25rem;
  z-index: 199;
}

.mobile .volume-button {
  background: #383838;
  height: 1.625rem;
  left: -0.125rem;
  position: absolute;
  top: 5.75rem;
  width: 0.1875rem;
}

.mobile .volume-button::after {
  top: 3rem;
  background: #383838;
  height: 3.125rem;
  width: 0.1875rem;
}

.mobile .volume-button::before {
  top: 7rem;
  background: #383838;
  height: 3.125rem;
  width: 0.1875rem;
}

.mobile .power-button {
  background: #383838;
  height: 5rem;
  right: -0.125rem;
  position: absolute;
  top: 10rem;
  width: 0.1875rem;
}

.screen video {
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  z-index: 1;
}

.content .card {
  background: #ffffff;
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.content .card:nth-child(odd) {
  -webkit-box-shadow: 0 0.2rem 0.4rem #90b8c6;
  box-shadow: 0 0.2rem 0.4rem #90b8c6;
  border-radius: 0.2rem;
}

.content .card:nth-child(even) {
  -webkit-box-shadow: 0 0.2rem 0.4rem #d4ba9f;
  box-shadow: 0 0.2rem 0.4rem #d4ba9f;
  border-radius: 0.2rem;
}

.content .card p:last-child {
  margin-bottom: 0;
}

.content .card .subtitle {
  font-weight: normal;
  margin-bottom: 0.75rem !important;
}

.content .card ul {
  margin-bottom: 0;
  padding-left: 1.5rem;
}

.content .card.has-bg {
  border: 0 !important;
}

.content a .card {
  color: #000000;
}

.content a .card:active, .content a .card:focus, .content a .card:hover, .content a .card:visited {
  color: #000000;
}

.content .card img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}
/*# sourceMappingURL=index.css.map */