$white: #ffffff;
$black: #000000;
$primary-color: #e18e7f;
$nav-color: #f5c9ae;

$project-shadow: rgba(0, 0, 0, 0.25);
$text-shadow: rgba(0, 0, 0, 0.1);
$nav-shadow: rgba(255, 255, 255, 0.2);

@media screen and (min-width: 78rem) {
  a,
  li,
  p {
    font-size: 1rem;
  }
  .app .content {
    margin-left: calc(12rem + 5vw);
    margin-right: calc(12rem + 5vw);
  }
}

@media screen and (max-width: 53rem) {
  .btn {
    padding: 0.375rem 0.75rem;
  }
  .no-flex-mobile {
    display: block !important;
  }
  .profile-picture {
    margin-left: calc(50% - 5rem);
  }
  .profile-picture-wrapper {
    margin-right: 0;
    width: 100%;
  }
  #hero {
    margin-top: -1rem;
  }
  .content .card .subtitle {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 64rem) {
  .project {
    margin-bottom: calc(2rem + 2.5vh);
  }
  .app .content {
    margin-left: calc(12rem + 1.25vw);
    margin-right: calc(1rem + 5vw);
  }
}

@media screen and (max-width: 35.75rem) {
  .flex-container .background-image {
    margin-left: 0.5rem;
    max-height: 3rem;
    width: 2.4rem;
  }
  .project {
    border-radius: 0;
    margin-bottom: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .app .content {
    padding-top: 0;
    .card {
      border-radius: 0;
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

@media screen and (max-width: 52.9937rem) {
  .nav-space {
    display: block;
    height: 3.0625rem;
    width: 100%;
  }
  .nav {
    -webkit-box-shadow: 0 0.1rem 0.15rem $text-shadow;
    box-shadow: 0 0.1rem 0.15rem $text-shadow;
    position: fixed;
    width: 100%;
    z-index: 10;
    #overview {
      background: $white;
      border-bottom: 0.0625rem solid $text-shadow;
      display: block;
      padding: 0.5rem 1rem;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      width: 100%;
      z-index: 15;
      .logo {
        height: 2rem;
        margin-right: 0.75rem;
        &.alt {
          opacity: 0;
          position: absolute;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          z-index: 1001;
        }
      }
      &.active {
        background: $primary-color;
        border-bottom: 0.0625rem solid $nav-shadow;
        .logo.alt {
          opacity: 1;
        }
      }
    }
    #toggle {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: calc(1rem + 0.1875rem);
      z-index: 1;
      span {
        background: $black;
        display: block;
        height: 0.125rem;
        margin-bottom: 0.1875rem;
        -webkit-transition: background 0.2s ease;
        transition: background 0.2s ease;
        width: 1rem;
      }
      &.active span {
        background: $nav-color;
      }
    }
    #menu {
      background: $white;
      border-bottom: 0.0625rem solid $text-shadow;
      height: 0;
      left: 0;
      overflow: hidden;
      padding: 1rem 1rem 0.5rem;
      position: absolute;
      top: 0;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      width: 100%;
      z-index: 1;
      &.active {
        background: $primary-color;
        height: 100vh;
      }
    }
    .social {
      margin-top: 1rem;
      position: relative;
      a img {
        color: $white;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        height: 1.4rem;
        margin-right: 2.5%;
        opacity: 0.75;
      }
    }
    .links a {
      color: $nav-color !important;
      font-size: 1.5rem;
      margin-bottom: 1.5%;
      &:hover {
        color: $white !important;
      }
      &.active {
        color: $nav-color !important;
        &:hover {
          color: $white !important;
        }
      }
      &:focus {
        color: $white !important;
      }
    }
  }
}

@media screen and (min-width: 53rem) {
  .hidden-on-desktop {
    display: none !important;
  }
  .app {
    .nav-wrapper {
      height: 100vh;
      padding-left: 1rem;
      position: fixed;
    }
    .nav {
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: block;
      height: 100%;
      position: fixed;
      top: 0;
      width: 12rem;
      #toggle {
        display: none;
      }
      .logo {
        display: block;
        height: 2rem;
        margin-top: 1rem;
        opacity: 0.5;
      }
      .social {
        min-height: 1.75rem;
      }
      .links {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        a {
          margin-bottom: 5%;
        }
      }
    }
    .content {
      margin-left: calc(12rem + 1.25%);
      margin-right: 1rem;
    }
  }
  .content > .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 28rem) {
  footer {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 1.5rem;
    text-align: center;
    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
      width: 100%;
      &.right {
        float: none;
      }
    }
  }
}

@media screen and (max-width: 47.9375rem) {
  .col-1-format {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 64rem) {
  .project {
    display: block;
    padding: 0% 5%;
    .screenshot-wrapper {
      padding: 0;
      .browser-screenshot {
        -webkit-box-shadow: 0 -0.1rem 0.5rem $project-shadow;
        box-shadow: 0 -0.1rem 0.5rem $project-shadow;
      }
      .system-screenshot {
        -webkit-box-shadow: 0 -0.1rem 0.5rem $project-shadow;
        box-shadow: 0 -0.1rem 0.5rem $project-shadow;
      }
    }
  }
}

@media screen and (min-width: 93.5rem) {
  .app .content {
    margin-left: calc(12rem + 15vw);
    margin-right: calc(12rem + 15vw);
  }
}
